*{
    margin: 0;
    padding: 0;
}

.pre-header{
    background-color: black;
    height: 60px;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pre-header .main-menu-pre-header{ 
    list-style: none;
}
.pre-header .main-menu-pre-header li { 
    display: inline-block;
    margin-left: 18px;
}
.pre-header .main-menu-pre-header li a{ 
    color: grey;
    text-transform: uppercase;
}


.main-nav .main-menu-main-nav{ 
    list-style: none; /*without dots kao kod nabrajanja tackice*/
    margin-top: 20px;
}
.main-nav .main-menu-main-nav li { 
    display: inline-block; /*to be in une line horizontally*/
    margin-left: 18px;
}
.main-nav .main-menu-main-nav li a{ 
    color: black;
    text-transform: uppercase;
}
.main-nav img{ 
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-button{ 
    background-color: blue;
    border: 1px solid blue;
    color: white !important;  /*because without this color is overrided*/
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none; /*without underline*/
    transition: 0.5s; /*transition for hover*/
    display: inline-block;
}
.main-button:hover{ 
   background-color: transparent;
   color:blue !important;  
}
.main-picture {
    background-image: url('../images/main.jpg');
    color:white;
    padding-top: 130px;
    padding-bottom: 130px;
    background-size: cover; /*to fit to screen*/
}
.main-picture h1{
    margin-top: 7px;
    font-size: 50px;
    color:white; 
}
.section-services {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 160px;
    padding-right: 160px;
}
.section-services h3{
    text-align: center;
}
.section-services h2{
    text-align: center;
}
.section-services p{
    text-align: center;
}
.section-services .items-services{
    background-color: transparent;
    text-align: center;
    /*shadow box generator*/
    -webkit-box-shadow: 22px 9px 27px 6px rgba(10,32,108,0.92); 
    box-shadow: 22px 9px 27px 6px rgba(10,32,108,0.92);
    transition: 0.3s;
}
.section-services .items-services:hover{
    background-color: rgba(255, 255, 255, 0.362);
    cursor: pointer;
}
.section-services .items-services a{
    text-align: center;
    background-color: gainsboro;
    color: black;
    border: 1px solid blue;
    padding:10px;
    display: inline-block;
    margin-bottom: 5px;
}
.section-services .items-services a:hover{
    background-color: transparent;
   color:blue !important; 
}